---
const projects = {
	"001": 
	{
		title: "Proj_1",
		caption: "Description for project 1",
		imgname: "Proj_1.jpeg"
	},
	"002": 
	{
		title: "drone_simulation",
		caption: "Advanced drone physics simulation",
		imgname: "Proj_2.jpeg"
	},
	"003": 
	{
		title: "4_legged_inversekinematics",
		caption: "Procedural IK walking system",
		imgname: "Proj_3.jpeg"
	},
	"004": 
	{
		title: "robust_character_controller",
		caption: "Physics-based movement controller",
		imgname: "Proj_4.jpeg"
	},
	"005": 
	{
		title: "personal_k3s_cluster",
		caption: "Self-hosted Kubernetes cluster",
		imgname: "Proj_5.jpeg"
	},
	"006": 
	{
		title: "portfolio_site",
		caption: "My personal portfolio website",
		imgname: "Proj_6.jpeg"
	},
	"007": 
	{
		title: "microcontrollers_RTOS",
		caption: "Embedded RTOS experiments",
		imgname: "IMG_3919.jpeg"
	}
};


const imgs = import.meta.glob("../assets/Reference images/*.jpeg", { eager: true }) as Record<string, { default: string } | { default: { src: string } }>;
const imgsUrls = Object.fromEntries(
	Object.entries(imgs).map(([path, mod]) => 
	[
		path.split("/").pop(),
		typeof mod.default === "string"
			? mod.default
			: mod.default.src
	])
);
---


<section class="projects">
	<div class="projects-list">
		{Object.entries(projects).map(([project, description]) => 
		{
			const title = description.title;
			const length = Math.max(project.length, title.length);
		
			return(
				<a
					class="project"
					data-projectname={project}
					data-caption={description.caption}
					data-image={imgsUrls[description.imgname]}
					href={`/projects/${project}`}
				>

					{Array.from({ length }).map((_, i) => (
						<span data-letter={title[i] || ""} style={`--i: ${i}`}>{project[length-1-i] || "."} </span>
					))}
				</a>
			);
		})}
	</div>
	<div class="project-description-container">
		<div class="hover-box"></div>
	</div>
</section>

<script is:inline>
	window.addEventListener("DOMContentLoaded", () => 
	{
		const container = document.querySelector(".hover-box");

		document.querySelectorAll(".project").forEach(project => 
		{
			let hovered = false;

			const getCard = () => container.querySelector(`.project-description[data-project="${project.dataset.projectname}"]`);

			project.addEventListener("mouseenter", (e) => 
			{
				hovered = true;

				const src = project.dataset.image;
				if(src)
				{
					const img = new Image();
					img.src = src;
				}

				let card = getCard();

				if(!card)
				{
					card = document.createElement("div");
					card.className = "project-description";
					card.dataset.project = project.dataset.projectname || "";

					card.innerHTML = `
						<img class="project-description-image" src="${project.dataset.image || ""}">
						<span class="project-description-caption">${project.dataset.caption || ""}</span>`;

					container.appendChild(card);
				}


				const top = e.top - 50;
				
				requestAnimationFrame(() =>
				{
					container.top = `${top}px`;
				});

				void card.offsetWidth;
				card.classList.add("show");
			});

			project.addEventListener("mouseleave", () =>
			{
				hovered = false;

				const card = getCard();
				if(!card) return;

				card.classList.remove("show");

				if(hovered) return;
				card.remove();
			});
		});
	});

	const boxes = document.querySelectorAll(".prdoject");

	document.addEventListener("mousemove", (e) => 
	{
		const mouseX = e.clientX;
		const mouseY = e.clientY;

		boxes.forEach(box => 
		{
			const rect = box.getBoundingClientRect();

			const boxX = rect.right;
			const boxY = rect.top + rect.height / 2;

			const dx = mouseX - boxX;
			const dy = mouseY - boxY;

			const distance = Math.sqrt(dx * dx + dy * dy);

			const maxDistance = 100;

			if (distance < maxDistance)
			{
				// strength increases when closer
				const force = (maxDistance - distance) / maxDistance;

				// normalize direction
				const angleX = dx / distance;
				const angleY = dy / distance;

				// move AWAY from mouse
				const moveX = angleX * force * 50;
				const moveY = angleY * force * 50;

				box.style.transform = `translate(${moveX}px, ${moveY}px)`;
			}
			else
			{
			box.style.transform = `translate(0px, 0px)`;
			}
		});
	});


	
</script>

<style is:global>
	.projects
	{
		display: flex;
		flex-direction: row;

		background-image: 	radial-gradient(circle at 5% -105%, var(--radial-inner) 27%, var(--radial-middle) 22%, var(--radial-outer) 77.4%); 
							/*radial-gradient(circle at 100% 50%, white 27%, var(--radial-middle) 22%, transparent 100%, var(--radial-outer) 50%, transparent 100%);*/

		height: max-content;
		width: 100%;

		border-bottom: 1px solid var(--sunset);
	}

	.projects-list
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;

		width: 50%;
	}

	.project
	{
		position: relative;
		z-index: 1;

		display: inline-block;
		font-family: var(--font-bebas);
		font-size: 3.4em;



		overflow: hidden;
		text-decoration: none;
	}


	.project span
	{
		display: inline-block;
		position: relative;
		min-width: 1ch;
		text-align: right;

		transform: translateY(0%);
		color: var(--txt);

		transition: transform 0.2s cubic-bezier(.77,.12,.16,.95);
		transition-delay: calc(var(--i) * 0.01s); 
	}


	.project:hover span
	{
		transform: translateY(-100%);
		color: var(--neon);

		
	}

	.project span:after
	{
		content: attr(data-letter);
		position: absolute;

		left: 0;
  		top: 100%;

		transform: translateY(100%);
		color: var(--neon);

		transition: transform 0.5s cubic-bezier(.77,.12,.16,.95);
		transition-delay: calc(var(--i) * 0.01s); 
	}


	.project:hover span:after
	{
		transform: translateY(0%);
	}

	.project-description-container
	{
		position: relative;

		width: 50%;
		height: 100%;
	}

	.hover-box
	{
		position: absolute;

		top: 0;
		left: 0;

		width: 50%;
		height: 100%;
	}

	.project-description
	{
		position: absolute;

		left: 0;
		width: 100%;

		display: flex;
		flex-direction: column;

		opacity: 0;
		filter: blur(20px);

		transition:
			opacity 0.3s cubic-bezier(.98,0,.06,.96),
			filter 0.6s cubic-bezier(.98,0,.06,.96);

		pointer-events: none;
	}

	.project-description.show
	{
		opacity: 1;
		filter: blur(0);

		pointer-events: auto;
	}

	.project-description-image
	{
		width: 100%;
		height: auto;

		border-radius: 30px;

		box-shadow: 10px 10px 50px rgba(149, 149, 149, 1);
	}

	.project-description-caption
	{
		font-size: 1rem;
		color: var(--txt);
	}

</style>