---
const projects = {"Proj_1":"", "drone_simulation":"", "4_legged_inversekinematics":"", "robust_character_controller":"", "personal_k3s_cluster":"", "portfolio_site":"", "microntrollers_RTOS":""};

const imgs = import.meta.glob("../assets/Reference images/*.jpeg", { eager: true }) as Record<string, { default: string }>;

const imgsUrls = Object.fromEntries
(
	Object.entries(imgs).map(([path, mod]) => 
	[
		path.split("/").pop()?.replace(".jpeg", ""),
		mod.default
	])
);
---


<section class="projects">
	<div class="projects-list">
		{Object.entries(projects).map(([project, description]) =>
		(
			<a class="project-title" data-projectName={project} href={`/projects/${project}`}>
				{project.split("").map((char, i) => <span data-letter={char} style={`--i: ${i}`}>{char}</span>)}
			</a>
		))}
	</div>
	<div class="project-description">
		{/* <img src={imgsUrls[project]} loading="lazy"/> */}
		<span class="project-description-caption"> Lorem ipsum dolor sit amet consectetur </span>
	</div>
</section>

<style>
	.projects
	{
		display: flex;
		flex-direction: row;

		background-image: 	radial-gradient(circle at 5% -105%, var(--radial-inner) 27%, var(--radial-middle) 22%, var(--radial-outer) 77.4%); 
							/*radial-gradient(circle at 100% 50%, white 27%, var(--radial-middle) 22%, transparent 100%, var(--radial-outer) 50%, transparent 100%);*/

		height: max-content;
		width: 100%;
	}

	.projects-list
	{
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		width: 50%;
	}

	.project-title
	{
		position: relative;
		z-index: 1;

		display: inline-block;
		font-family: var(--font-bebas);
		font-size: 4em;

		color: var(--txt);

		overflow: hidden;
		text-decoration: none;
	}

	.project-title span
	{
		display: inline-block;
		position: relative;

		transform: translateY(0%);

		transition: transform 0.4s cubic-bezier(.77,.12,.16,.95);
		transition-delay: calc(var(--i) * 0.01s); 
	}

	.project-title:hover span
	{
		transform: translateY(-100%);
	}

	.project-title span:after
	{
		content: attr(data-letter);
		position: absolute;

		left: 0;
  		top: 100%;

		transform: translateY(100%);

		transition: transform 0.4s cubic-bezier(.77,.12,.16,.95);
		transition-delay: calc(var(--i) * 0.01s); 
	}

	.project-title:hover span:after
	{
		transform: translateY(0%);
	}

	.project-description
	{
		position: relative;
		width: 50%;
	}

	{/*  
	.project-description img
	{
		width: 15%;
		height: auto;
	}
	*/}

	.project-description-caption,
	.project-description-caption:after
	{
		position: absolute;
		/* 		
		left: 50%;
		top: 0;

		width: 100%;

		display: flex;

		color: var(--txt);

		opacity: 1;
		filter: blur(0);

		transition: 
			opacity 0.4s cubic-bezier(.98,0,.06,.96),
			filter 0.4s cubic-bezier(.98,0,.06,.96);

		pointer-events: none;
		*/
	}

	.projects:has(.project-title:hover) .project-description-caption:after,
	.projects:has(.project-title:focus-visible) .project-description-caption:after
	{
		
		content: none;
		/*
		opacity: 1;
		filter: blur(0);
		pointer-events: auto; */

	}

</style>