---

interface Props
{
  title: string;
  time: string;
  learned: string;
  more: string;
}
const { title, time, learned, more } = Astro.props;

---

<div class = "projectLayout">
    <div class = "spacer top"></div>
    <div class = "wrapper">
        <div class = "information">
            <div id=`${title}`      class="title    information-category">  <div class="information-category-name"> Title    </div>    <div class="information-category-content"> {title}   </div> </div>
            <div id=`${time}`       class="time     information-category">  <div class="information-category-name"> Time     </div>    <div class="information-category-content"> {time}    </div> </div>
            <div id=`${learned}`    class="learned  information-category">  <div class="information-category-name"> Learned  </div>    <div class="information-category-content"> {learned} </div> </div>
            <div id=`${more}`       class="more     information-category">  <div class="information-category-name"> More     </div>    <div class="information-category-content"> {more}    </div> </div>
        </div>
        <div class = "infographic"></div>
    </div>
    <div class = "spacer bottom"></div>
</div>

<style>
    .projectLayout
    {
        position: relative;
        width: 100%;
    }

    .wrapper
    {
        width: 100%;
        min-height: calc(100vh - 8rem); 

        display: flex;
        flex-direction: row;

        font-size: 1rem;
    }

    .information
    {
        position: sticky;
        top: 4rem; 

        width: 40%;
        height: calc(100vh - 8rem); 

        display: flex;
        flex-direction: column;

        border-top: 2px solid var(--black);
    }

    .information-category
    {
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        border-bottom: 2px solid var(--black);

        padding: 20px 0;
    }

    .information-category-content
    {
        max-width: 50%;
        text-align: right;
    }

    .infographic
    {
        width: 60%;
        height: 2000px; 
        min-height: 100%;
        background-color: var(--black);
        margin: 0 0 0 20px;
    }

    .spacer
    {
        position: sticky;
        
        width: 100%;
        z-index: 0;
    }

    .top
    {
        height: 4rem; /* Give it height so it takes up space */
        background-color: var(--bg);

        top: 0;
    }

    .bottom
    {
        box-sizing: border-box;
        
        height: calc(100vh - 5rem);
        border-color: aqua;
        border-bottom: 4rem;

        bottom: 0;
    }
</style>
